<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Посты друзей</title>
</head>
<body>
    <ul>
        <h1>Посты друзей:</h1>
        {% if posts %}
            {% for post in posts %}
            <li>
                <h2>
                    <a href="{% url 'posts:post-detail' post_pk=post.pk %}">
                        {{post.name}}
                    </a>
                </h2>
                <p>{{post.author}}</p>
                <p>{{post.description}}</p>
                <p>Лайки: {{post.count_of_likes}}</p>
                {% if request.user in post.likes.all %}
                    <a href="{% url 'posts:like' post.pk %}">💩</a>
                {% else %}
                    <a href="{% url 'posts:like' post.pk %}">🧁</a>
                {% endif %}
            </li>
        {% endfor %}
        {% else %}
            <h2>Посты друзей не найдены 🤔</h2>
        {% endif %}
    </ul>
</body>
</html>