<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{header}}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'users/css/profile.css' %}">
</head>
<body>
    <h1>{{header}}</h1>
    {% if user.id == profile.id %}
        <a href="{% url 'users:edit_profile' %}">Редактировать профиль</a>
    {% else %}
        <form action="{% url 'users:add_remove_friend' profile.id  %}" method="post">
            {% csrf_token %}
            {% if profile in user.my_friends.all %}
             <button type="submit">Удалить из друзей</button>
            {% else %}
            <button type="submit">Добавить в друзья</button>
            {% endif %}
        </form>
    {% endif %}

    <h2>Info:</h2>
    {% if profile.avatar %}
        <img class="avatar" src="{{profile.avatar.url}}" alt="avatar">
    {% else %}
        <img class="avatar" src="{% static 'users/images/avatar.jpg' %}" alt="avatar">
    {% endif %}
    <p>Username: {{ profile.username }}</p>
    <p>First name: {{ profile.first_name }}</p>
    <p>Last name: {{ profile.last_name }}</p>
    <p>Birth date: {{ profile.birth_date|date:"d M Y" }}</p>
    <p>About: {{ profile.about|linebreaks }}</p>
    <p>Email: {{ profile.email }}</p>
    <p>Phone: {{ profile.phone_number }}</p>
</body>
</html>